#slidePhoto{
    overflow: hidden;
    padding: 0px;
}

#containerPhoto {
    position: inherit;
    width: 200%;
}

#containerPhoto > div {
    padding: 0 4px;
    float: left;
    width: 12.5% !important;
}

#containerPhoto .thumbnail {

}

#slider .col-md-3{
    vertical-align: middle;
    padding: 2px;
}

