#slidePhoto{
    overflow: hidden;
    padding: 0px;
}

#containerPhoto {
    position: inherit;
    width: 1000%;
}

#containerPhoto > div {
    padding: 0 4px;
    float: left;
    width: 2.5% !important;
}

#containerPhoto .thumbnail {

}

#slider .col-md-3{
    vertical-align: middle;
    padding: 2px;
}

.arrow{
    font-size:30px;
    text-align: center;
    line-height: 110px;
}

.arrow i{
    color: #777;
    transition: color 0.2s ease-in;

}

.arrow i:hover{
    cursor: pointer;
    color: #5b9bd1;
}