.navbar-toggle .fa-bars {
    color: orange;
    font-size: 20px;
}

.authorization-form {
    padding: 15px 15px 0 15px;
    min-width: 250px;
}

.g-recaptcha {
    transform: scale(0.885);
    transform-origin: 0 0;
}

textarea {
    resize: vertical;
}

.dropZone{
    border: 2px dashed;
    border-radius: 5px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

#photosPreview {
    margin: 15px;
}